@import 'base';

#headerBox {
    font-family: $base-font;
    color: #eee;
    padding: 20px;
    font-size: 20pt;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    #headerText {
        color: map-get($map: $theme, $key: text);
    }
}
